<% include ../layout/header %>

    <div class="header">
        <h2>
            <%= title %>
        </h2>
        <p>
            <a href="/">На главную</a>
        </p>
    </div>

    <div class="modal-body">
        <form method="post">
            <div class="form-group">
                <label for="nameOfCourse">Введите название курса:</label>
                <input type="text" name="title" class="form-control" id="nameOfCourse">
            </div>
            <div class="form-group">
                <label for="descriptionOfCourse">Введите описание курса:</label>
                <textarea class="form-control" name="description" id="descriptionOfCourse" rows="3"></textarea>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="published" name="published">
                <label class="form-check-label" for="published">Опубликовано</label>
            </div>
            <br>
            <button type="submit" class="btn btn-primary create-curse">Создать курс</button>
        </form>
    </div>

    <% include ../layout/footer %>