<% include ../layout/header %>
    <h3>
        Курс:
        <b>
            <%= course.title %>
        </b>
    </h3>
    <h4>
        Урок:
        <b>
            <%= lesson.title %>
        </b>
    </h4>

    <p>
        <a href="/">На главную</a> &nbsp &nbsp
        <a href="/edit/course/<%= course.id %>">К курсу</a> &nbsp &nbsp
        <a href="/edit/lesson/<%= lesson.id %>">К уроку</a>
    </p>
    <h4>Добавить новую задачу</h4>

    <div class="modal-body">
        <form method="post">
            <div class="form-group">
                <label for="idOfTask">Введите номер задания:</label>
                <input type="number" name="number" class="form-control" id="idOfTask">
            </div>
            <button type="submit" class="btn btn-primary create-task">Создать задачу</button>
            <input id="lessonId" name="id" type="hidden" value="<%= lesson.id %>">
        </form>
    </div>

    <% include ../layout/footer %>