<% include layout/header %>
    <h1>
        <%= title %>
    </h1>
    <p>
        <% if(user.id && user.login) { %>
            <a href="/create/course">
                <button class="btn btn-primary add-new-project">Добавить новый</button>
            </a>
            <a href="/my-courses">
                <button class="btn btn-primary">Мои проекты</button>
            </a>
        <% } %>
    </p>

    <div class="modal-body">
        <div class="first-column">
            <% if (courses.length != 0) { %>
                <% courses.forEach(function(course) { %>
                    <div class="row" style="padding-bottom:5px;">      
  
                    <a href="course/<%= course.id %>">                
                        <img src="/uploads/<%= course.logo %>" height="80"> 
                    </a>
                    &nbsp &nbsp         
                    <h4>
                        <b>
                            <a href="course/<%= course.id %>">
                                <%= course.title %>
                            </a>
                        </b>
                    </h4>   
                    </div>
                    <p>
                        <strong>Краткое описание: </strong>
                        <%= course.description.substring(0, 100)%>...
                    </p>
                <% }); %>
            <% } else  { %>
                Курсов нет, но вы держитесь...
            <% } %>
        </div>
        <div class="second-column">
            <% include layout/sidebar %>
        </div>
    </div>

    <% include layout/footer %>