<% include layout/header %>
    <form method="post" class="register">
        <h1>Регистрация</h1>
        <p>
            <a href="/">На главную</a>
        </p>
        <br>
        <div class="form-group">
            <label for="register-login">Логин:</label>
            <input type="text" id="register-login" name="login" class="form-control" placeholder="ivanov_login">
        </div>
        <div class="form-group">
            <label for="register-password">Пароль:</label>
            <input type="password" id="register-password" name="password" class="form-control" placeholder="*******">
        </div>
        <div class="form-group">
            <label for="register-password-confirm">Повторите пароль:</label>
            <input type="password" id="register-password-confirm" name="passwordConfirm" class="form-control" placeholder="*******">
        </div>
        <button type="submit" class="btn btn-primary register-button">Подтвердить</button>
    </form>

    <% include layout/footer %>