<% include ../layout/header %>

    <h2>
        <%= title %>
    </h2>
    <h3>
        Курс:
        <b>
            <%= course.title %>
        </b>
    </h3>
    <h4>
        Урок:
        <b>
            <%= lesson.title %>
        </b>
    </h4>
    <p>
        <a href="/">На главную</a> &nbsp &nbsp
        <a href="/edit/course/<%= course.id %>">К курсу</a> &nbsp &nbsp
        <a href="/edit/lesson/<%= lesson.id %>">К уроку</a>
    </p>
    <div class="modal-body">
        <p>
            <button name="save" class="btn btn-primary save-task">Сохранить</button>
            <button name="delete" class="btn btn-danger delete-task">Удалить</button>
        </p>

        <h4>
            <div class="form-group">
                <label for="idOfTask"><strong>Задание:</strong></label>
                <input type="number" name="number" class="form-control" id="idOfTask" value="<%= task.number %>">
            </div>
        </h4>

        <div class="form-group">
            <label for="instructionsOfTask"><strong>Инструкция:</strong></label>
            <textarea class="form-control" name="instructions" id="instructionsOfTask" rows="1"><%= task.instructions %></textarea>
        </div>

        <div class="form-group">
            <label for="textOfTask"><strong>Текст:</strong></label>
            <textarea class="form-control" name="text" id="textOfTask" rows="1"><%= task.text %></textarea>
        </div>

        <div class="form-group">
            <label for="soundFile"> <strong>Звуковой файл:</strong> <%= task.sound %> </label>
            <input type="file" class="form-control-file" name="file" id="soundFile"/>
        </div>

        <p>
            <strong>Pitch: </strong>
            <%= task.pitch %>
        </p>

        <p>
            <strong>Создан: </strong>
            <%= task.createdAt %>
        </p>
        <input id="taskId" name="id" type="hidden" value="<%= task.id %>">

        <div id="waveform"></div>

        <div id="placeholder" style="height:300px;margin-bottom: 30px;"></div>

        <div class="container" style="text-align: center">
            <button class="btn btn-primary play-button">
                <i class="glyphicon glyphicon-play"></i>
                Play/Pause
            </button>
        </div>

    </div>

    <% include ../layout/footer %>

<script src="<%= assetFingerprint('/javascripts/waveform.js') %>"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/2.0.6/wavesurfer.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/dygraph/2.1.0/dygraph.min.js"></script>
<script src="<%= assetFingerprint('/javascripts/diagram.js') %>"></script>

