<% if(!user.id || !user.login) { %>
    <form method="post" class="login">
        <h2>Вход</h2>
        <div class="form-group">
            <label for="loginForm">Логин:</label>
            <input type="text" name="login" class="form-control" id="login-login">
        </div>
        <div class="form-group">
            <label for="loginForm">Пароль:</label>
            <input type="password" name="password" class="form-control" id="login-password">
        </div>
        <button type="submit" class="btn btn-primary login-button">Войти</button>
        <br>
        <br>
        <p>
            <a href="/auth/registration">Регистрация</a>
        </p>
    </form>
    <% }  else { %>
        <p>Добро пожаловать,
            <strong>
                <%= user.login %>
            </strong>!
            <a href="/auth/logout">Выход</a>
        </p>
        <% } %>