<% include ../layout/header %>
    <h3>
        Курс:
        <b>
            <%= course.title %> 
        </b>
        <% if(!course.published) { %> (не опубликовано) <% } %>
    </h3>
    <p>
        <a href="/">На главную</a> &nbsp &nbsp 
        <a href="/course/json/<%= course.id %>">JSON</a> &nbsp &nbsp 
        <a href="/course/publish/<%= course.id %>">Publish</a>
    </p>
    <p>
        <% if(user.id && user.login && user.id == course.owner) { %>
            <a href="/edit/course/<%= course.id %>">
                <button class="btn btn-primary">Редактировать</button>
            </a>
            <% } %>
    </p>
    <div class="modal-body">
        <div class="first-column">
            <p>
                <strong>Описание: </strong>
                <%= course.description %>
            </p>
            <p>
                <strong>Сложность: </strong>
                <%= course.complexity %>
            </p>
            <p>
                <strong>Категория: </strong>
                <%= course.category %>
            </p>
            <p>
                <strong>Авторы: </strong>
                <%= course.authors %>
            </p>
            <p>
                <strong>Создан: </strong>
                <%= course.createdAt %>
            </p>
            <div>
                <label for="file"> <strong>Логотип:</strong>
                    <br>
                    <img src="/uploads/<%= course.logo %>" height="150">
                    <br>
                </label>
            </div>
            <hr>
            <ul>
                <% lessons.forEach(function(lesson) { %>
                    <li>
                        <h4>
                            <b>
                                <a href="/lesson/<%= lesson.id %>">
                                    <%= lesson.number %>. <%= lesson.title %>
                                </a>
                            </b>
                        </h4>
                        <p>
                            <strong>Краткое описание: </strong>
                            <%= lesson.description.substring(0, 100)%>...
                        </p>
                    </li>
                    <% }); %>
            </ul>
        </div>
        <div class="second-column">
            <% include ../layout/sidebar %>
        </div>
    </div>

    <% include ../layout/footer %>