<% include ../layout/header %>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/dygraph/2.1.0/dygraph.min.css" />
    <h3>
        Курс:
        <b>
            <%= course.title %>
        </b>
    </h3>
    <h4>
        Урок:
        <b>
            <%= lesson.title %>
        </b>
    </h4>
    <h5>Задание:
        <b>
            <%= task.number %>
        </b>
    </h5>
    <p>
        <a href="/">На главную</a> &nbsp &nbsp
        <a href="/course/<%= course.id %>">К курсу</a> &nbsp &nbsp
        <a href="/lesson/<%= lesson.id %>">К уроку</a>
    </p>
    <p>
        <% if(user.id && user.login && user.id == course.owner) { %>
            <a href="/edit/task/<%= task.id %>">
                <button class="btn btn-primary">Редактировать</button>
            </a>
            <% } %>
    </p>
    <div class="modal-body">
        <div class="first-column">
            <p>
                <strong>Инструкция: </strong>
                <%= task.instructions %>
            </p>
            <p>
                <strong>Текст: </strong>
                <%= task.text %>
            </p>
            <p>
                <strong>Создан: </strong>
                <%= task.createdAt %>
            </p>

            <input id="taskId" name="id" type="hidden" value="<%= task.id %>">

            <div id="waveform"></div>

            <div id="placeholder" style="height:300px;margin-bottom: 30px;"></div>
            
            <div class="container" style="text-align: center; margin-bottom: 30px;">
                <button class="btn btn-primary play-button">
                    <i class="glyphicon glyphicon-play"></i>
                    Play/Pause
                </button>
            </div>

          
        </div>
        <div class="second-column">
            <% include ../layout/sidebar %>
        </div>
    </div>

    <% include ../layout/footer %>


<script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/2.0.6/wavesurfer.min.js"></script>
<script src="<%= assetFingerprint('/javascripts/waveform.js') %>"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/dygraph/2.1.0/dygraph.min.js"></script>
<script src="<%= assetFingerprint('/javascripts/diagram.js') %>"></script>
